* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  width: 50vw;
  height: 20vh;
}

.inputContainer h3,
.propContainer h3 {
  margin-left: 10px;
}
.inputContainer input {
  width: 180px;
  height: 30px;
  margin: 10px;
  padding: 0px 10px;
  font-size: 16px;
  outline: none;
}
.propContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.propContainer select {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  margin: 10px;
}
.inputContainer p {
  margin-right: 10px;
}